.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    bottom:0;
    width: 110px;
    background-color: white;   
    font-family: Roboto,Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
img{
    vertical-align: middle;
}
.home ,.explore,.subscription, .original,.youtube-music{
    height: 40px;   
}

.home-icon, .explore-icon,
.subscription-icon, .original-icon,
.youtube-music-icon{
    margin-top: 30px;
    margin-bottom: 30px;    
}

.home-text, .explore-text,
.subscription-text, .original-text,
.youtube-music-text{
    padding-top: 5px;
    text-align: center;
}