.main-div{
    width: 450px;
    border: none;
    margin: 0;   

}

.profile-photo{
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    padding: 15px;
    vertical-align: middle;
    margin-right: 5px;    
}

.user-info,
.btn-div,
.profile-photos{
    display: inline-block;
    vertical-align: middle;
}
.user-info{
    width: 200px;
}
.btn-div{
    width: 40px;
}
.user-name{
    font-size: 24px;
    font-family: Roboto,Arial;
    font-weight: bold;
    line-height: 7px;
}

.type-user,
.status{
    font-size: 18px;
    font-family: Roboto,Arial;
    color: rgb(96,96,96);
    line-height: 9px;
}

.btn-follow{
    background-color: rgb(94, 110, 255);
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 25px;
}

.video-photo{
    width: 300px;
}
.video-name,
.video-data{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.video-data{
    width: 340px;
}
.video-title{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}

.channel-name,
.view-time{
    color: rgb(96,96,96);
    font-size: 18px;
    line-height: 9px;
}

.verti-block{
    display: inline-block;
    vertical-align: top;
    margin: 12px;
}

.user-profile{
    margin-left: 15px;
}
.friend-request-profile{
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

.mutual{
    margin-bottom: 10px;
}

.mutual-friends,
.mutual-friends-profile{
    display: inline-block;
    vertical-align: middle;
}

.mutual-friends-profile{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}

.mutual-friends{
    font-size: 16px;
    color: rgb(96,96,96);
    margin-left: 5px;
}

.add-friend-btn{
    background-color: rgb(70, 88, 253);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 16px;
}